<h1>All Blocmarks</h1>
  <div class="row">
    <% @user_bookmarks.each do | bookmark | %>
    <div class="col-sm-3">
      <div class="well bookmark_box">
        <%= link_to "Delete Bookmark", bookmark, method: :delete, class: 'glyphicon glyphicon-remove-circle', data: { confirm: "Are you sure you want to delete?" } %> <br>
        <%= link_to "Edit Bookmark", edit_bookmark_path(bookmark), class: 'glyphicon glyphicon-pencil' %>
      </div>
      <div class="button_placement">
      <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
      </div>
    </div>
    <% end %>
  </div>

<hr>

<h2>Liked Bookmarks</h2>
<div class="row">
  <% @liked_bookmarks.each do |like| %>
  <div class="col-sm-3">
    <div class="button_placement">
    <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %>
    </div>
  </div>
  <% end %>
</div>
